wikipedia.org

INVERT
.mwe-math-element
.MathJax:not(span#MathJax_Zoom > .MathJax)
span#MathJax_Zoom
.mw-ext-score
.mw-wiki-logo
.central-textlogo__image
.svg-Wikimedia-logo_black
.header .branding-box > a > span > img
.main-footer-menuToggle
div.post-content.footer-content > h2 > img
.mw-hiero-outer.mw-hiero-table
#p-logo-text

CSS
.mwe-popups-discreet > svg,
div .thumbimage[src$=".png"],
div .thumbimage img[src$=".png"] {
    background-color: white;
}
.mw-mmv-image .svg,
.fullImageLink [src*=".svg"],
a[href$=".svg"]:hover > img,
a[href*=".gif"]:hover > img {
    background-color: rgba(255, 255, 255, 0.75) !important;
    background-blend-mode: color;
}
.diff-addedline .diffchange {
    background-color: ${lightblue} !important;
}
.diff-deletedline .diffchange {
    background-color: ${#feeec8} !important;
}
@keyframes unseen-fadeout-to-unread {
    from {
        background-color: ${#dce8ff} !important;
    }
    to {
        background-color: ${#ffffff} !important;
    }
}
@keyframes unseen-fadeout-to-read {
    from {
        background-color: ${#dce8ff} !important;
    }
    to {
        background-color: ${#eaecf0} !important;
    }
}
.main-top {
    background: none !important;
}
ol.references li:target,
sup.reference:target {
    background-color: ${lightblue} !important;
}
.control-bar {
    background-color: var(--darkreader-neutral-background) !important;
    background-image: none !important;
}
.k-player {
    background-color: var(--darkreader-neutral-background) !important;
}

IGNORE INLINE STYLE
.legend-color
.infobox > tbody > tr > td[style*="background-color"]
#on_image_elements span

IGNORE IMAGE ANALYSIS
.k-player .k-menu-bar li a